/* Estilos a los elementos del header */

nav .brand-logo {
  font-size: 1.6rem;
}

.header-paragraph {
  font-size: 1.1em;
}

/* Estilos al contador del modal */
.counter-span {
  color: #3949ab; 
  font-weight: 700;
  float: right;
}

/* Estilos al contenedor de los posts */

.post-div {
  border: 2px solid black;
}

@media(min-width: 601px) {

  nav .brand-logo {
    font-size: 2.1rem;
  }

  .header-paragraph {
    font-size: 1.25em;
  }
}

@media(min-width: 993px) {
  .header-paragraph {
    font-size: 1.3em;
  }
}

.thumb {
  height: 10em;
  border: 1px solid #000;
  margin: 5em 2em 0 0;
}